$primary-color: #333333;
$secondary-color: #ffffff;
$mark-color: #df001f;
$heading-font: 'Oswald', sans-serif;
$mark-font: 'Great Vibes', cursive;
$desc-font: 'Droid Sans', sans-serif;
$social-number-font: 'Open Sans', sans-serif;

