.container-header {
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 68px 26px 68px;
    margin: 0 auto;
    text-align: center;
}

.container-background {
    width: 100%;
    max-width: 552px;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 400px;
}

.container-founder {
    width: 100%;
    max-width: 557px;
    display: block;
    padding: 86px 0 81px 0;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.container-section {
    width: 100%;
    max-width: 729px;
    display: block;
    padding: 80px 0 100px 0;
    margin: 0 auto;
    text-align: center;
}

.container-form {
    width: 100%;
    max-width: 530px;
    display: block;
    padding: 90px 0 70px 0;
    margin: 0 auto;
    text-align: center;
}

.container-bottom {
    width: 100%;
    max-width: 600px;
    display: block;
    padding: 70px 0 90px 0;
    margin: 0 auto;
    text-align: center;
}

.upcoming, .popular {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}

.container-main.upcoming {
    border-top: 1px solid #dfdfdf;
}

.upcoming-latest {
    padding-top: 50px;
}

.upcoming-conserts {
    min-width: 619px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upcoming-conserts-posts {
    max-width: 619px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

.progress-bar-upcoming {
    width: 100%;
    height: 4px;
    background: #e9e9e9;
    position: relative;
}

.progress-bar-string {
    width: 20%;
    height: 4px;
    background: $mark-color;
    position: absolute;
    left: 15px;
}

.upcoming-consert-details {
    width: 100%;
    min-width: 770px;
    display: flex;
}

.consert-details {
    flex-grow: 1;
    padding-left: 70px;
}

.latest-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 372px;
}

.polular-songs {
    width: 100%;
    max-width: 772px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instagram-feed {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    background-image: url("../images/background-download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $primary-color;
}

.heading {
    max-width: 195px;
}
